---
layout: blank
permalink: /categories/
title: Categories
---

<main id="archive">
  <article>
    {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <header>
          <div id="#{{ category_name | slugize }}"></div>
          <h1 class="category-head">{{ category_name }}</h1>
          <a name="{{ category_name | slugize }}"></a>
        </header>

        
        {% for post in site.categories[category_name] %}
          <li>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
          </li>
        {% endfor %}
      </div>
    {% endfor %}
  </article>
</main>
